div.body {
    padding-left: 20vw;
    padding-right: 20vw;
}

body {
    padding-top: 2vw;
    padding-left: 2vw;
}

legend {
    font-family: 'BadaFont', sans-serif; 
    font-size: 4vw;
    color: white;
    letter-spacing:0.15vw;
    -webkit-text-stroke: 0.15vw black;
    text-align: left;
}

label {
    font-size: 1.6vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    -webkit-text-stroke: .075vw black;
}

button {
    margin-bottom: 2vw;
}

.btn {
    margin-top: 1vw;
    background-color: orangered;
    border: 0px;
}