html, body {
    height: 100%;
    margin: 0;
}

#mapid {
    border-color: rgba(255, 115, 0, 0.875);
    border-width: 1vw; 
}

.leaflet-container {

    border-color: rgba(255, 115, 0, 0.875);
    border-width: 1vw;
}