div {
    border: 1px solid black;
    border-radius: 0.5em;
    width: 30vw;
    padding:2vw;
    margin: auto;
    margin-top: 2vw;
    user-select:none;
    background-color: white;
}

div.img {
    justify-content: center;
}
button {
    margin-top:0.5em;
}

button.custom {
    margin-top: 0px;
}

.inst-style {
    border: 2px solid orange;
    box-shadow: 5px 10px 10px grey;
}

.btn {
    margin-top: 1vw;
    background-color: orangered;
    border: 0px;
}

img {
    margin-bottom: 1vw;
    max-height: 20vw;
    max-width: 20vw;
}