<div *ngIf="villain">
    <img [src]="villain.imageUrl || 'https://static.vecteezy.com/system/resources/previews/005/337/799/non_2x/icon-image-not-found-free-vector.jpg'" alt="Villain Image">
    <p>
        Baddie's Name: {{ villain.name }} <br>
        Location: {{ villain.location }} <br>
        Reported By: {{villain.reportName}} ( {{villain.reportNumber}} ) <br>
        Added on: <span [textContent]="villain.time | date: 'medium'"></span> <br>
        Status: <span *ngIf="villain?.status === 'open' ; then ins else notins"></span> <br>
        <ng-template #ins>
            Open
            <button class="custom" (click)="changeStatus()">Change Status</button>
        </ng-template>
        <ng-template #notins><b>
            Resolved
            <button class="custom" (click)="changeStatus()">Change Status</button>
        </b></ng-template>
        Extra Info: {{ villain.extraDetails }}
    </p>
    <a class = 'btn btn-primary' routerLink="/home">Back</a>
</div>