<app-villain
    *ngFor="let v of villains"
    [villain]="v"
    (delete)="onVillainDelete($event)"
></app-villain>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Villain's Name</th>
        <th scope="col">Time Reported</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of villains" [class.closed]="v.status === 'closed'">
        <td> {{ v.location }}</td>
        <td> {{ v.name }}</td>
        <td> {{ v.time }}</td>
        <td> {{ v.status === 'closed' ? 'Closed' : 'Open' }}</td>
        <td><a class="btn"[routerLink]="['/villain', v.id]">More Info</a></td>
        <td><button class="btn" (click)="onVillainDelete(v.id.toString())">Delete</button></td>
      </tr>
    </tbody>
  </table>

