.btn {
    background-color: orangered;
    border: 0px;
    color: white;
}

table {
    margin: 2vw;
    width: 60vw;
    padding: 1vw;
    border: .4vw solid black;
}

th:hover {
    cursor: pointer;
    background-color: #d1d1d1;
  }
