.btn {
    margin-top: 1vw;
    background-color: orangered;
    border: 0px;
}

table {
    margin: 2vw;
    width: 60vw;
    padding: 1vw;
    border: .4vw solid black;
}

.closed {
    background-color: #a9a9a9;
  }