<h1>Add a New Location</h1>
<div class="p">
    <p>(Click map to choose location)</p>
</div>
<div id="mapid" style="width: 100%;height:20vw"></div>
<div class="d-flex align-items-center justify-content-center container">
    <h2>Location Name: </h2>
    <input 
        type="text"
        name="newLocationName"
        id="newLocationName"
        placeholder="Enter new location name"
        [(ngModel)]="newLocationName"
    ><br>
    <a class = 'btn btn-primary' (click)="addNewLocation()">Add Location</a>
    <a class = 'btn btn-primary' routerLink="/villain/report">Back</a>
</div>
