/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('./assets/4864288.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    /*Image from Freepik */
}