h1 {
    font-family: 'BadaFont', sans-serif; 
    font-size: 6vw;
    letter-spacing: 0.35vw;
    color: white;
    -webkit-text-stroke: 0.225vw black;
    text-align: center;
}

h3 {
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.08vw black;
    margin-top: -0.5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn {
    background-color: orangered;
    border: 0px;
}

div.bottom {
    padding-bottom: 3vw;
}
